@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

header {
  /*This doesn't affect the <a> in <nav> in header */
  /* justify-content: center; */
  /* according to flex direction it centers, without flex direction it centers both ways */
  background-color: #6c5458;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.container {
  background-color: bisque;
  margin: 0 auto;
  width: 80vw; /*view width, 80% of view */
  max-width: 1200px;
  padding: 50px;
}

main {
  justify-content: center;
}

header nav {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

header nav a {
  background-color: #91c7b1;
  color: darkgreen;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
}

header nav a:hover {
  color: #39b382;
  background-color: darkgreen;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  width: 60%;
  /* background-color: bisque; */
}

footer {
  background-color: #e6c5c3;
  display: flex;
  justify-content: center;
  gap: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.send-button-container {
  margin: 0 auto;
}

.select1 {
  display: flex;
  /* margin-top: 3px; */
}

label {
  display: block;
  padding-bottom: 5px;
}

/* p {
  width: 70%; 
  /* 70% of parent container's width 
  background-color: brown;
} */

/* .send-button-container input {
  width: 30%;
  min-width: 100px;
} */

@media (min-width: 600px) {
  body {
    background-color: rgb(255, 200, 150);
  }

  header nav {
    flex-direction: row;
    gap: 20px;
  }

  main {
    display: flex;
    gap: 30px;
    margin: 0 30px;
  }

  form {
    grid-template-columns: 1fr 1fr;
  }

  .send-button-container {
    grid-column: span 2;
  }
}
.footer01 {
  max-height: 0.7cm;
  color: #8b16c1;
}
